@font-face {
    font-display: swap;
    font-family: "FZLTXIHK -- GBK 1-0";
    font-weight: 400;
    src: url('../fonts/FZLTXIHK--GBK1-0.ttf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: 'Hiragino Sans GB - W 6';
    font-weight: 400;
    src: url('../fonts/Hiragino-Sans-GB-W6.otf') format('opentype')
}

@font-face {
    font-display: swap;
    font-family: 'Hiragino Sans GB - W 3';
    font-weight: 400;
    src: url('../fonts/Hiragino-Sans-GB-W3.otf') format('opentype')
}


/*
@font-face {
    font-display: swap;
    font-family: Hiragino Sans GB - W 3;
    font-weight: 300;
    src: url('../fonts/Hiragino-Sans-GB-W3.otf') format('otf');
    //url('../fonts/CircularStd-BookItalic.woff') format('woff');
}*/

/*
font-family: "Hiragino Sans GB - W 6";
font-family: "Hiragino Sans GB - W 3";


@font-face {
    font-display: swap;
    font-family: Circular;
    font-style: italic;
    font-weight: 300;
    src: url('../assets/fonts/CircularStd-BookItalic.woff2') format('woff2'),
        url('../assets/fonts/CircularStd-BookItalic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: Circular;
    font-weight: 700;
    src: url('../assets/fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../assets/fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: Circular;
    font-weight: 900;
    src: url('../assets/fonts/CircularStd-Black.woff2') format('woff2'),
        url('../assets/fonts/CircularStd-Black.woff') format('woff');
}
*/
